*{
	box-sizing: border-box;
}

.navbar{
	background-color: grey;
	overflow: hidden;
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	padding-left: 20px;
	margin-top: -80px;
}

#header-nav{
	background-color: grey;
  	border-radius: 0;
  	border: 0;
}
.container{
	width: 100%;
	padding-top: 100px;
}
.navbar-toggle{
	margin-top: 0px;
}
.responsive-container{
	margin-top: 0px;
}
#nav-list{
	margin-top: 0px;
}
#sub-menu-title{
	position: relative;
	margin-top: 0px;
}
.sub-menu-ul{
	border: 1px solid black;
}

.sub-menu-li{
	border-bottom: 1px solid black; 
}

#collapsable-nav{
	color: white;
}
.sub-menu-body{
	background-color: grey;
	width: 100%;
	align-content: center;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px
	vertical-align: middle;
	align-items: center;
}
@media (min-width: 768px) {
  .responsive-container {
    margin-top: : 120px;
  }
}